server {
    listen [::]:443 ssl;
    listen 443 ssl;

    server_name nginx-api.pp.ua;

    ssl_certificate /etc/letsencrypt/live/nginx-api.pp.ua/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/nginx-api.pp.ua/privkey.pem;
    # include /etc/letsencrypt/options-ssl-nginx.conf;
    # ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root /var/www/html/dog-facts;

    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    # /static/ location block
    location /static/ {
        alias /var/www/html/dog-facts/;
        try_files $uri $uri/ =404;
        index index.html index.htm;
        default_type text/html;
        add_header Content-Type text/html;
    }

    # /page/ location block
    location /page {
        alias /var/www/html/dog-facts/;
        try_files $uri $uri/ =404;
        index index.html index.htm;
        default_type text/html;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name nginx-api.pp.ua;
    return 301 https://$host$request_uri;
}
